<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

<!-- this is to reduce the number of lines using property p-namespace -->
<!-- 	<bean id="a" class="com.app.Address" p:city="Pune" p:state="MH"></bean>
	
	<bean id="e" class="com.app.Employee" p:id="1" p:name="Sameer" p:adr-ref="a"></bean> -->
	
	
<!-- default scope of every bean is singleton, note that the scope can be changed of a bean making the scope to prototype-->
<!-- 	<bean id="adr" class="com.app.Address">
		<property name="city" value="Pune"/>
		<property name="state" value="MH"/>
		
	</bean>
	<bean id="e" class="com.app.Employee" scope="prototype">
		<property name="id" value="1"/>
		<property name="name" value="Sameer"/>
		<property name="adr" ref="adr"/>
	</bean>  -->
	
<!-- In autowire byType, we can have only one/unqie bean of that type
	<bean id="adr" class="com.app.Address">
		<property name="city" value="Pune"/>
		<property name="state" value="MH"/>
		
	</bean>
	<bean id="e" class="com.app.Employee" scope="prototype" autowire="byType">
		<property name="id" value="1"/>
		<property name="name" value="Sameer"/>
		<property name="adr" ref="adr"/>
	</bean>   -->
<!-- 
In autowire byName, we can have multiple beans of the same type but they vary by id, the id autowires via the byName
	<bean id="adr" class="com.app.Address">
		<property name="city" value="Pune"/>
		<property name="state" value="MH"/>
		
	</bean>
	<bean id="e" class="com.app.Employee" scope="prototype" autowire="byName">
		<property name="id" value="1"/>
		<property name="name" value="Sameer"/>
		<property name="adr" ref="adr"/>
	</bean>   -->
	
<!-- this is called inner bean or nested bean, where the bean the doesn't have an id and no other bean can use the address bean
	<bean class="com.app.Address">
		<property name="city" value="Pune"/>
		<property name="state" value="MH"/>
		
	</bean>
	<bean id="e" class="com.app.Employee" scope="prototype" autowire="byName">
		<property name="id" value="1"/>
		<property name="name" value="Sameer"/>
		<property name="adr" >
			
			<bean class="com.app.Address">
				<property name="city" value="Pune"/>
				<property name="state" value="MH"/>
				
			</bean>
		</property>
	</bean>  --> 
<!-- 	
Difference between constructor injection and setter injection: 
	1. Internally in setter injection, it is using setter methods, in constructor injection it is using the conctructor methods
	2. For constructor inject the params have to be equal/math the class's contructor params
	3. Contructor injection can cause deadlock whereas, the setter injection doesn't create deadlock. 
	<bean id="adr" class="com.app.Address">
	<constructor-arg value="Mumbai"/>
	<constructor-arg value="MH"/>
		
	</bean>
	<bean id="e" class="com.app.Employee" scope="prototype" autowire="byName">
		<property name="id" value="1"/>
		<property name="name" value="Sameer"/>
		<property name="adr" ref="adr"/>
	</bean>   -->
	
<!-- BeanFactory is lazy (legacy container; doesn't support annotations): Meaning that when we call the bean by it's name then it will create an object
ApplicationContext eager (it is JEE container, meaning in MVC, etc. it is used): As soon as the the xml file is loaded then it will create the objects -->
<!-- IOC: Inversion of Control: Control of object creation was with us in core java but now Spring is deciding what to use(contructors or setter)and when to create. And above are IOC containers-->
</beans>